/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignore Live Helper Chat files
/public/cache
/public/cron.php
/public/design
/public/extension
/public/ezcomponents
/public/index_legacy.php
/public/lib
/public/livehelperchat
/public/modules
/public/pos
/public/settings
/public/translations
/public/var


